/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    35deg,
    #222222 1%,
    #313030 5%,
    whitesmoke 50%,
    #e076e0 95%,
    #FF00FF 99%
  );
}

