<section class="mx-auto max-w-7xl p-6">
@if(auth.user()?.role === 'ADMIN'){


  <!-- ERROR -->
  @if (error(); as errorMessage) {
    <div
      class="mb-6 rounded-lg border border-red-200
        bg-red-50 px-4 py-3 text-sm text-red-700
      "
      role="alert"
    >
      <div class="flex items-center justify-between gap-4">

        <span>
          {{ errorMessage }}
        </span>

        <button
          type="button"
          class="shrink-0 font-medium underline hover:no-underline"
          (click)="loadUsers()"
        >
          Réessayer
        </button>

      </div>
    </div>
  }


  <!-- LOADING INITIAL -->
  @if (loading() && users().length === 0) {

    <div class="grid grid-cols-1 gap-6
        md:grid-cols-2
        xl:grid-cols-3
      "
    >
      @for (item of [1, 2, 3, 4, 5, 6]; track item) {

        <div class="h-[430px] animate-pulse rounded-[0_0_80px_0] border
            border-neutral-200 bg-neutral-100
          "
        ></div>

      }
    </div>

  }

  <!-- EMPTY -->
  @else if (users().length === 0) {

    <div
      class="flex min-h-[350px] flex-col items-center justify-center
        border border-dashed border-neutral-300
        bg-white text-center rounded-2xl
      "
    >
      <div
        class="mb-4 flex h-16 w-16 items-center justify-center
          rounded-full bg-neutral-100 text-2xl
        "
      >
        👤
      </div>

      <h2
        class="text-lg font-semibold text-neutral-800"
      >
        Aucun utilisateur
      </h2>

      <p
        class="mt-1 text-sm text-neutral-500"
      >
        Aucun utilisateur n'est actuellement disponible.
      </p>
    </div>

  }

  <!-- USER LIST -->
  @else {

    <!-- HEADER -->
    <h1 class="title cust-border max-w-7xl text-4xl font-light text-center">
      Liste des utilisateurs
    </h1>

    <div
      class="max-w-2xl mx-auto px-4 py-8 justify-center
	      lg:max-w-7xl grid grid-cols-1 gap-3
        md:grid-cols-2
        xl:grid-cols-3
        2xl:grid-cols-4
        max-h-[86vh]
        overflow-y-auto
        overflow-x-hidden
      "
    >

      @for (user of users(); track user.id) {

        <app-user-card
          [user]="user"
          (edit)="onEditUser($event)"
          (remove)="onDeleteUser($event)"
        />

      }

    </div>

    @if(selectedUser(); as user) {
      <app-user-role-modal
        [user]="user"
        (close)="onCloseRoleModal()"
        (save)="onSaveRole($event)"
      />
    }

  }
}
</section>

