<article class="user-card">
  <!-- Halo / dégradé décoratif -->
  <div class="user-card__gradient" aria-hidden="true"></div>

  <!-- Accent fuchsia à gauche -->
  <div class="user-card__pink-arc" aria-hidden="true"></div>

  <!-- Halo or / vert fluo en haut à gauche -->
  <div class="user-card__green-shape" aria-hidden="true"></div>

  <!-- HEADER -->
  <header class="user-card__header">
    <div
      class="user-card__green-shape"
      aria-hidden="true"
    ></div>
    <h2 class="user-card__username">
      {{ user().username | titlecase }}
    </h2>

    <div class="user-card__actions">
      <button
        type="button"
        class="user-card__action user-card__action--edit"
        title="Modifier le rôle"
        aria-label="Modifier le rôle"
        (click)="onEdit()"
      >
        <i class="text-sm fa-solid fa-pen"></i>
      </button>

      <button
        type="button"
        class="user-card__action user-card__action--delete"
        title="Supprimer"
        aria-label="Supprimer l'utilisateur"
        (click)="onRemove()"
      >
        <i class="text-sm fa-solid fa-trash"></i>
      </button>
    </div>
  </header>

  <!-- BODY -->
  <section class="user-card__body">
    <dl class="user-card__details">

      <div class="user-card__row">
        <dt>Email:</dt>
        <dd>{{ user().email }}</dd>
      </div>

      <div class="user-card__row">
        <dt>Rôle:</dt>
        <dd>{{ user().role }}</dd>
      </div>

      <div class="user-card__row">
        @if(articlesCount() === 0) {
          <dt>Aucun article</dt>
          <dd></dd>
        } @else if (articlesCount() === 1) {
          <dt>Auteur avec</dt>
          <dd>1 article</dd>
        } @else {
          <dt>Auteur avec</dt>
          <dd>{{ articlesCount() }} articles</dd>
        }
      </div>

      <div class="user-card__row">
        <dt>Crée le:</dt>
        <dd>
          @if (user().createdAt) {
            {{ user().createdAt | customDateFormat }}
          } @else {
            createdAt
          }
        </dd>
      </div>

      <div class="user-card__row user-card__row--muted">
        <dt>dernière modification:</dt>
        <dd>
          @if (user().updatedAt) {
            {{ user().updatedAt | customDateFormat }}
          } @else {
            updatedAt
          }
        </dd>
      </div>

    </dl>
  </section>
</article>
