.body {
  width: calc(100% - 3rem);
  margin-left: 3rem;
  height: 100vh;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: transparent;
  padding:1.8em 0 .5em 0;
}
.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url('../../../public/assets/images/the_lawn_two.jpg') center/cover repeat-y;
  opacity: 0.7;
  pointer-events: none;
  z-index: -1;
}

.body-trimmed {
 width: calc(100% - 16.5625rem);
 margin-left: 16.5625rem;
 padding:1.8em 0 .5em 0;
}

.body-md-screen {
 width: calc(100% - 3rem);
 margin-left: 3rem;
 padding:1.8em 0 .5em 0;
}
