@if (articlesService.loading()) {

  <p>Chargement...</p>

} @else if (articlesService.articles().length === 0) {

  <div class="flex min-h-48 justify-center items-center rounded-xl
      border
      border-dashed
      border-gray-300
      text-gray-500"
  >
    Aucun article trouvé.
  </div>

} @else {

  <!-- HEADER -->
  <h1 class="title cust-border max-w-7xl text-4xl font-light text-center">
  Liste des articles
    @if(auth.user()){
      <button (click)="onAdd()" class="absolute bottom-2 right-0 cursor-pointer text-gray-700" title="Ajouter un article">
        <i class="fa-solid fa-square-plus"></i>
      </button>
    }
  </h1>


<div class="
  max-w-2xl mx-auto px-4 py-8 justify-center
	lg:max-w-7xl grid grid-cols-1 gap-y-8 gap-x-5
	sm:grid-cols-2
  md:grid-cols-2
	lg:grid-cols-3
	xl:grid-cols-4
  max-h-[86vh]
  overflow-y-auto
  overflow-x-hidden
">

  @for(article of articlesService.articles(); track article.id; let first = $first){
    @if(first) {
      <app-article-card
          [article]="article"
          [editable]="canManageArticle(article)"
          [firstElement]="true"
          (edit)="onEdit(article)"
          (remove)="onDelete(article.id)">
      </app-article-card>

    } @else {
      <app-article-card
          [article]="article"
          [editable]="canManageArticle(article)"
          [firstElement]="false"
          (edit)="onEdit(article)"
          (remove)="onDelete(article.id)">
      </app-article-card>
    }

  }

</div>

}

<!-- ERROR -->

@if (articlesService.error(); as error) {

  <div class="mb-4 shrink-0 p-4 rounded-lg border
      text-sm text-red-700
      border-red-200
      bg-red-50"
  >
    {{ error }}
  </div>

}
