<section class="w-full rounded-lg bg-white">
  <form
    [formRoot]="articleEditForm"
    (submit)="onSubmit()"
    class="mx-auto w-full max-w-7xl px-4 py-5 sm:px-6 lg:px-8"
	>
    <h1 class="title cust-border mb-6 text-center text-3xl font-light sm:text-4xl">
			Modifier un article
		</h1>

    <!-- =====================================================================
         FORMULAIRE
         Mobile / tablette : 1 colonne
         Laptop / desktop  : 2 colonnes
         ===================================================================== -->
    <div class="grid grid-cols-1 gap-6
			lg:grid-cols-2 lg:gap-x-10 lg:gap-y-6
			xl:gap-x-16"
		>
      <!-- COLONNE GAUCHE -->
			<div class="cust-wrap space-y-6">

        <div>
          <label class="cust-label block mb-2 text-gray-600">
            Titre
          </label>

          <input
            type="text"
            [formField]="articleEditForm.title"
            class=" cust-field w-full rounded-full border border-gray-300 px-5 py-3
            focus:outline-none focus:ring-2 focus:ring-gray-300">
          @if (articleEditForm.title().touched() && articleEditForm.title().invalid()) {
            @for (error of articleEditForm.title().errors(); track error.kind) {
              <small class="error text-red-400">
                {{ error.message }}
              </small>
            }
          }
        </div>

        <div>
          <label class="cust-label block mb-2 text-gray-600">
              Auteur
          </label>

          <select
              [value]="article().authorId"
              (change)="changeAuthor($event)"
              class="cust-field w-full rounded-full border border-gray-300 px-5 py-3 bg-white focus:outline-none focus:ring-2 focus:ring-gray-300">

              <option selected [value]="0">
                  Choisir un auteur
              </option>

              @for (user of users(); track user.id) {

                  <option [value]="user.id">
                      {{user.id}} - {{ user.username }}
                  </option>

              }

          </select>
          @if (articleEditForm.authorId().touched() && articleEditForm.authorId().invalid()) {
            @for (error of articleEditForm.authorId().errors(); track error.kind) {
              <small class="error text-red-400">
                {{ error.message }}
              </small>
            }
          }
        </div>

        <div>
          <label class="cust-label block mb-2 text-gray-600">
              Description
          </label>

          <textarea
              rows="2"
              [formField]="articleEditForm.description"
              class="cust-field w-full rounded-3xl border border-gray-300 p-4 resize-none focus:outline-none focus:ring-2 focus:ring-gray-300">
          </textarea>
          @if (articleEditForm.description().touched() && articleEditForm.description().invalid()) {
            @for (error of articleEditForm.description().errors(); track error.kind) {
              <small class="error text-red-400">
                {{ error.message }}
              </small>
            }
          }
        </div>

        <div>
          <label class="cust-label block mb-2 text-gray-600">
              Support visuel
          </label>

          <input
            type="file"
            accept=".jpg, .jpeg, .png"
            class=" cust-field block w-full rounded-full border
            border-gray-300 px-4 py-2 text-gray-400">
        </div>

      </div>

      <!-- COLONNE DROITE -->
			<div class="cust-wrap">

          <label class="cust-label block mb-2 text-gray-600">
          Contenu
          </label>

          <textarea
            rows="20"
            [formField]="articleEditForm.content"
            class="cust-field w-full rounded-3xl border border-gray-300 p-4 resize-none focus:outline-none focus:ring-2 focus:ring-gray-300">
          </textarea>
          @if (articleEditForm.content().touched() && articleEditForm.content().invalid()) {
            @for (error of articleEditForm.content().errors(); track error.kind) {
              <small class="error text-red-400">
                {{ error.message }}
              </small>
            }
          }

      </div>

      <!-- ACTIONS -->
      <footer
        class="cust-action col-span-full mt-8 flex flex-wrap justify-end gap-3
              sm:mt-10 sm:gap-5"
      >
        <button
          type="button"
          (click)="onCancel()"
          class="cust-btn rounded-xl bg-gray-300 px-10 py-3 text-white
                hover:bg-gray-400 cursor-pointer transition-all transition-300"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="cust-btn rounded-xl bg-blue-500 px-10 py-3 text-white
                hover:bg-blue-600 disabled:opacity-50 disabled:cursor-not-allowed
                cursor-pointer transition-all transition-300"
        >
          Modifier
        </button>

      </footer>

    </div>
  </form>
</section>

